{% extends 'base.html' %}
{% load static %}


{% block title %}
Rese Password
{% endblock title %}

{% block content %}
{% comment %} {% include 'parts/navbar.html' %} {% endcomment %}
<h1>Reset Your Password ?</h1>
 {% if validlink %}
 <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
 <form method="POST" action="{% url 'password_reset_confirm' uidb64=uid token=token %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
 {% else %}
 <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
 {% endif %}

{% endblock content %}