{% extends 'base.html' %}
{% load static %}


{% block title %}
Rese Password
{% endblock title %}

{% block content %}
{% comment %} {% include 'parts/navbar.html' %} {% endcomment %}
<h1>Foreget Your Password ?</h1>
<p>Enter Your email address below, and we'll email instructions for setting a new one.</p>
<form method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

{% endblock content %}