{% extends 'base.html' %}
 {% load static %}
  {% block title %}
   Sales 
   {% endblock title %}
    {% block content %}
     {% include 'parts/navbar.html' %}
     <main class="main-bg w-full h-screen">


<section class="px-12 pt-36 space3-bg"  >
    
    <div class="title text-center border-b-2 pb-8 w-fit mx-auto text-2xl font-bold"><h2>Design Requests</h2></div>
    <div class="cards grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 items-center justify-center gap-6 mt-36">
       {% for reqeusted in requests %}
        <div class="card p-4 shadow-lg rounded-lg hover:shadow-2xl transition-all duration-300  cursor-pointer backdrop-blur-sm hover:backdrop-blur-xl  ">
            <h1 class="text-xl py-4">from : {{reqeusted.requested_from}}</h1>
            <h2 class="text-xl py-4">{{reqeusted.design_type}} Design </h2>
            <a class="btn-primary" href="{% url 'projects' %}">Go</a>
        </div>
        {% endfor %}
    </div>
</section>
</main>
{% endblock content %}
